* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    height: 100vh;
    width: 100vw;
}

.character {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

.character img {
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
}

.details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

.description {
    text-align: center;
    color: white;
}

.paragraph {
    text-align: justify;
    color: white;
}

#vincent {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: #203864;
}

#cloud {
    grid-column: 3 / 4;
    grid-row: 1;
    background-color: #404040;
}

#sephiroth {
    grid-column: 1 / 2;
    grid-row: 2/3;
    background-color: #74508a;
}

#noctis {
    grid-column: 2 / 4;
    grid-row: 2;
    background-color: #203864;
}

#squall {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: #fff2cc;
}

#cloud .details,
#sephiroth .details,
#squall .details{
    flex-direction: column;
}

#squall .name,
#squall .paragraph {
    color: black;
}

#squall .description{
    color: black;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    #vincent {
        grid-column: 1 / 2;
        grid-row: 1/2;
    }
    
    #cloud {
        grid-column: 2 / 3;
        grid-row: 1/2;
    }
    
    #sephiroth {
        grid-column: 1 / 2;
        grid-row: 2/3;
    }
    
    #noctis {
        grid-column: 2 / 3;
        grid-row: 2/3;
    }
    
    #squall {
        grid-column: 1 / 3;
        grid-row: 3 /4;
    }
    
    #vincent .details,
    #noctis .details{
        flex-direction: column;
    }
    
    #squall .details{
        flex-direction: row;
    }
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
    
    #vincent {
        grid-column: 1 / 2;
        grid-row: 1/2;
    }
    
    #cloud {
        grid-column: 1 / 2;
        grid-row: 2/3;
    }
    
    #sephiroth {
        grid-column: 1 / 2;
        grid-row: 3/4;
    }
    
    #noctis {
        grid-column: 1 / 2;
        grid-row: 4/5;
    }
    
    #squall {
        grid-column: 1 / 2;
        grid-row: 5/6;
    }


    #vincent .details,
    #noctis .details,
    #cloud .details,
    #sephiroth .details,
    #squall .details{
        flex-direction: row;
    }
}
