body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-image: url('lexey-kon-kov-10-sprite-0002.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    max-width: 1200px;
    max-height: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
}

.controls-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(36, 35, 35);
    overflow-y: auto;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.control-group {
    margin-bottom: 10px;
    width: 100%;
}

.gap-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(66, 66, 66);
    padding: 10px;
    margin-bottom: 7px;
    box-sizing: border-box;
    width: 100%;
}

.gap-group input {
    width: 50px;
    margin-right: 10px;
    height: 25px;
    align-items: center;
}

.control-panel {
    background-color: rgb(66, 66, 66);
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
}

.flex-button {
    display: block;
    background-color: #200092;
    color: white;
    padding: 10px 7px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.flex-button.active {
    background-color: #0044cc;
}

.flex-button:hover {
    background-color: #00ccff;
}

.grow-input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.grow-input-group input {
    margin-right: 10px;
}

.flex-container {
    display: flex;
    width: 60%;
    height: 100%;
    border: 10px solid rgb(36, 35, 35);
    background-color: rgb(66, 66, 66);
    overflow: hidden;
    box-sizing: border-box;
}

.flex-item {
    flex: 1;
    border: 1px solid rgb(121, 121, 121);
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
}
