* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100vw;
    overflow-x: hidden; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 20px; 
    text-align: center;
    display: block;
}

.nav-links a:hover {
    background-color: #000; 
}

.nav-links a:active {
    background-color: #a38c8c;
}

.logo h1 {
    color: white;
    margin: 0;
}

header {
    text-align: center;
    padding:  10px 10px;
    background-color: #000;
    height: 300px;
    background-size:auto;
    background-position: center;
    color: white;
}


.header picture{
    background-position:center;
    width: 100px;
}

section {
    padding: 20px;
}

#about{
text-align: center;
letter-spacing: 2px;

}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative; 
    width: 100%;
    bottom: 0;
}

.casts{
     height: 100px;
    padding: 10px;
}

#characters .casts{
    height: 100px;
    padding: 20px;
}

.casts image{
    height: 100px;
    background-position: center;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px;
    }

    section {
        padding: 10px;
    }

    .nav-links a {
        font-size: 16px;
    }
}
