
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo h1 {
    font-size: 1.8rem;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

header {
    text-align: center;
    padding:  10px 10px;
    background-color: #000;
    height: 400px;
}

header .picture {
    height: 250px;
    padding:  10px 10px;

}

header .tagline {
    font-size: 2.5rem;
    margin-bottom: 800px;
    color: whitesmoke;
}

section {
    padding: 50px 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

section h3 {
    font-size: 2rem;
    text-align: center;
}

section h4 {
    font-size: 2rem;
    text-align: center;
}


section p {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    font-weight: bold;
}

.casts {
    list-style-type: none;
    max-width: 600px;
    margin: 20px auto;
}

.casts li {
    margin-bottom: 10px;
}

.image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
